/* About Section */
.about {
  align-items: center;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  max-width: 100%;
  padding: 1.25rem 12%;
  position: relative;
  height: 700px;
}

.image-container {
  position: relative;
  display: flex;
  width: 100%;
}

.first-image {
  z-index: 100;
}

.second-image {
  position: absolute;
  bottom: -30%;
  right: 50%;
  z-index: 50;
  color: darkgray;
}

.image-container img {
  max-width: 272px;
  max-height: 338px;
  width: 272px;
  height: 338px;
  /* height: 338px; */
}
